<!-- Validation failure messages -->
<% if @use.errors.any? %>
  <% @use.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3><%= @use.purchase.product.product_name %> for <%= @use.date.to_date %></h3>
  <img src="<%= @use.purchase.product.image_url %>" height="150px" width="auto">
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_use/<%= @use.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="datetime" id="date" name="date" placeholder="Date" class="form-control" value="<%= @use.date %>">

      </div>

      <button class="btn btn-warning">
        Update Use
      </button>
      or
      <a href="/uses/<%= @use.id %>">Cancel</a>
    </form>
  </div>
</div>
