<!-- Validation failure messages -->
<% if @use.errors.any? %>
<% @use.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Use</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_use" method="post" id="form1">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for purchase_id -->
      <div class="form-group">

      <% @purchase.each do |purchase| %>
      <% if purchase.empty != true%>

      <label class="purchase-id">
        <input type="radio" id="purchase_id" name="purchase_id" value="<%= purchase.product_id %>">
        <img src="<%= purchase.product.image_url %>" height="100px" width="auto">
      </label>
      <% end %>
      <% end %>
    </div>

    <!-- Label and input for user_id -->
    <input type="hidden" name="user_id" value="<%= current_user.id %>">

    <!-- Label and input for date -->
    <div class="form-group">
      <label for="date" class="control-label">
        Date
      </label>

      <input type="datetime-local" id="date" name="date" class="form-control" value="<%= Time.now.to_time %>">
    </div>

    <button type="submit" form="form1" class="btn btn-success" >
      Create Use
    </button>
    or
    <a href="/uses">Cancel</a>
  </form>
</div>
</div>
