<div class="page-header">
  <h3>Use #<%= @use.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Purchase</dt>
      <dd><%= @use.purchase_id %></dd>

      <dt>User</dt>
      <dd><%= @use.user_id %></dd>

      <dt>Date</dt>
      <dd><%= @use.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/uses" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @use.user %>
        <a href="/uses/<%= @use.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_use/<%= @use.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
