<div class="page-header">
  <h1>
    Purchases
    <a href="/purchases/new" class="btn btn-lg btn-success">New Purchase</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Product</th>
        <th>User</th>
        <th>Rating</th>
        <th>Note</th>
        <th>Open date</th>
        <th>Empty</th>
        <th>Estimated number of uses</th>
        <th>Actions</th>
      </tr>

      <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.product_id %></td>
        <td><%= purchase.user_id %></td>
        <td><%= purchase.rating %></td>
        <td><%= purchase.note %></td>
        <td><%= purchase.open_date %></td>
        <td><%= purchase.empty %></td>
        <td><%= purchase.estimated_number_of_uses %></td>
        <td>
          <a href="/purchases/<%= purchase.id %>" class="btn btn-primary">Show</a>
          <a href="/purchases/<%= purchase.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_purchase/<%= purchase.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
