<div class="page-header">
  <h3>Purchase #<%= @purchase.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Product</dt>
      <dd><%= @purchase.product_id %></dd>

      <dt>User</dt>
      <dd><%= @purchase.user_id %></dd>

      <dt>Rating</dt>
      <dd><%= @purchase.rating %></dd>

      <dt>Note</dt>
      <dd><%= @purchase.note %></dd>

      <dt>Open date</dt>
      <dd><%= @purchase.open_date %></dd>

      <dt>Empty</dt>
      <dd><%= @purchase.empty %></dd>

      <dt>Estimated number of uses</dt>
      <dd><%= @purchase.estimated_number_of_uses %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/purchases" class="btn btn-primary">
        Back
      </a>
      <a href="/purchases/<%= @purchase.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_purchase/<%= @purchase.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Purchase has many uses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Uses
      </li>

      <% @purchase.uses.each do |use| %>
        <li class="list-group-item">
          <a href="/uses/<%= use.id %>">
            <%= use.purchase_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/uses/<%= use.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/uses/<%= use.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_use/<%= use.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
