<div class="page-header">
  <h3><%= @brand.brand_name %></h3>
</div>
<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Products
  </li>

  <% @brand.products.each do |product| %>
  <li class="list-group-item">
    <a href="/products/<%= product.id %>">
      <%= product.product_name %>
    </a>
  </li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-12 mb-2">

    <div class="btn-group btn-group-justified">
      <a href="/brands" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Brand has many products -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      <li class="list-group-item">
        <form action="/create_product" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for brand_id -->
          <input type="hidden" name="brand_id" value="<%= @brand.id %>">

          <!-- Label and input for shelf_life -->
          <div class="form-group">
            <label for="shelf_life" class="control-label">
              Shelf life
            </label>

            <input type="text" id="shelf_life" name="shelf_life" placeholder="Shelf life" class="form-control" value="">
          </div>

          <!-- Label and input for skin_type -->
          <div class="form-group">
            <label for="skin_type" class="control-label">
              Skin type
            </label>

            <%= select_tag(:skin_type, options_for_select(["all", "oily", "dry", "combination", "combination_oily", "combination_dry"]), :include_blank => true, :class => "form-control") %>
          </div>

          <!-- Label and input for skincare -->
          <div class="checkbox">
            <label for="skincare">
              <input type="checkbox" id="skincare" name="skincare" value="1" <%= "checked" if @product.skincare %>>
              Skincare
            </label>
          </div>

          <!-- Label and input for skincare_category -->
          <div class="form-group">
            <label for="skincare_category" class="control-label">
              Skincare category
            </label>

            <%= select_tag(:skincare_category, options_for_select(["cleansers", "exfoliators", "toners", "essences", "serums & ampoules", "moisturizers", "eye creams", "masks", "SPF"]), :include_blank => true, :class => "form-control") %>
          </div>

          <!-- Label and input for makeup -->
          <div class="checkbox">
            <label for="makeup">
              <input type="checkbox" id="makeup" name="makeup" value="1" <%= "checked" if @product.makeup %>>
              Makeup
            </label>
          </div>

          <!-- Label and input for makeup_category -->
          <div class="form-group">
            <label for="makeup_category" class="control-label">
              Makeup category
            </label>

            <%= select_tag(:makeup_category, options_for_select(["blush & highlighter", "brows", "eyeliner", "eyeshadow", "foundation", "mascara", "powder", "primer"]), :include_blank => true, :class => "form-control") %>
          </div>

          <!-- Label and input for image_url -->
          <div class="form-group">
            <label for="image_url" class="control-label">
              Image url
            </label>

            <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="">
          </div>

          <!-- Label and input for product_name -->
          <div class="form-group">
            <label for="product_name" class="control-label">
              Product name
            </label>

            <input type="text" id="product_name" name="product_name" placeholder="Product name" class="form-control" value="">
          </div>

          <!-- Label and input for sensitive_skin -->
          <div class="checkbox">
            <label for="sensitive_skin">
              <input type="checkbox" id="sensitive_skin" name="sensitive_skin" value="1" <%= "checked" if @product.sensitive_skin %>>
              Sensitive skin
            </label>
          </div>

          <button class="btn btn-block btn-success">
            Create Product
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>
